body{
	font-family:'Ubuntu', sans-serif;
}
.form_container{
	    min-height: 60vh;
    margin-top: 5vh;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 6px;
    background:#fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form_container .forgot_pass{
	    margin: 15px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
.form_container .form_title{
	    text-align: center;
    font-size: 24px;
    color: #094b7d;
}
.form_container input{
	height: auto;
    padding: 10px;
}
.form_container .login{

}
.form_container .login_label{
	    font-size: 16px;
    margin: 15px 0 5px 0;
}
.form_container .login .loginbtn{
	font-size: 18px;
    color: #fff;
    background: #094;
    padding: 10px 50px;
    margin-top: 3vh;
    outline: none !important;
    cursor: pointer;
}
.form_container .signup{
	display: none;
}
.form_container .signup .signupbtn{
	font-size: 18px;
    color: #fff;
    background: #094;
    padding: 10px 50px;
    margin-top: 3vh;
    outline: none !important;
    cursor: pointer;
}
.formbtn_container{
	min-height: 8vh;
	margin-bottom:5vh;
}
.formbtn_container button{
	float: left;
    border-radius: 0;
    min-height: 8vh;
    width: 50%;
    font-size: 24px;
    outline: none !important;
    background: #094b7d;
    color: #fff;
    cursor:pointer;
}
.formbtn_container button.loginform{
	border-bottom-left-radius: 6px;
}
.formbtn_container button.signupform{
	border-bottom-right-radius: 6px;
}
.formbtn_container button.active{
	background: #fff;
	color:#094b7d;
}
.topbar_container{
	    padding: 5px 15px;
    background: #094b7d;
    color: #fff;
}
.topbar_logo_container .logo{
	width: 200px;
    filter: invert(1);
    /*margin-top: 5px*/
}
.topbar_title p{
	font-size: 26px;
    margin-top: 10px;
    
}
.topbar_buttons{
	padding: 0px;
    height: 60px;
    position:relative;
    margin-top: 10px
}
.topbar_buttons .btn{
	background: #fff;
	color:#094b7d;
	outline: none !important;
	float:right;
	margin-right: 10px;
}
.topbar_buttons .topbar_settings_btn:hover span{
	animation:rotateicon 2s;
}
.topbar_buttons .topbar_notifications_btn:hover span{
	animation:toandfro 1s linear;
}
.topbar_buttons .btn span.glyphicon{
	font-size: 20px;
}
.topbar_buttons .btn.topbar_profile_btn img{
	width:24px;
}
.topbar_buttons .btn.bi_btn{
    width : 134px;
    height: 39px;

}
.btn.bi_btn{
    background: #fff;
    color:#094b7d;
    outline: none !important;
    float:right;
    margin-right: 10px;
}
.button_profile_container, .button_settings_container{
	position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 15px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_settings_container{
    position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 130px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_notifications_container{
    position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 80px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_profile_container .arrow{
	width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_settings_container .arrow{
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_notifications_container .arrow{
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_profile_container div, .button_settings_container div, .button_notifications_container div{
	display: inline-block;
	vertical-align: top;
	float: right;
}
.button_profile_container img, .button_settings_container img, .button_notifications_container img{
	width:50px;
}
.button_profile_container div.profile_info, .button_settings_container div.profile_info, .button_notifications_container div.profile_info{
	/*margin-left: 15px;*/
    width: auto;
    float: none;
}
.button_profile_container .profile_name, .button_settings_container .profile_name, .button_notifications_container .profile_name{
	color: #094b7d;
    font-size: 24px;
    margin: 0;
}
.button_profile_container .profile_info a, .button_settings_container .profile_info a, .button_notifications_container .profile_info a{
	    display: inline-block;
    margin-right: 6%;
}
.content{
	margin:0;
	padding:0;
}
.middlebar_container{
	padding: 1vh 0;
    background: #f9f8f8;
}
.filter_tabs_container{
    /*padding: 0vh 0;*/
    background: #f9f8f8;
}
.filter_container{
	padding: 12px 4px;
    border: 1px solid rgba(9, 75, 125, 0.28);
    border-radius: 4px;
    margin-left: 4%;
    background: #fff;
}
.filter_container>p{
	    margin: 0;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-right: 14px;
    font-weight: 600;
    color: #094b7d;
}
.filter_container div{
	    display: inline-block;
    vertical-align: top;
}
.filter_container div .control{
	font-size: 14px;
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 500;
}
.addlead_container{
	    width: 12%;
}
.viewfilter button{
	border: 0;
    background: transparent;
    font-size: 18px;
}
.viewfilter button:hover{
	border-bottom: 4px solid #094b7d;
	background:#fff;
}
.viewfilter.open>.dropdown-toggle.btn-default:focus{
	background:#fff;
	border-bottom: 4px solid #094b7d;
}
.viewfilter_menu{
	width: 70%;
}
.viewfilter_menu li a{
	font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
}
.viewfilter_menu li a:hover{
	background: #094b7d;
    color: #fff;
}
.search_lead{
	padding: 12px;
    height: auto;
}
.addlead{
	background: #094b7d;
    color: #fff;
    font-size: 20px;
    float: left;
}
.addlead span{
	color: #fff;
}
.addlead span.addlead_content {
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.addlead:hover span.addlead_content {
  max-width: 100px;
}
.addlead:hover span.glyphicon{
	animation: rotateicon 2s ;
}
@keyframes rotateicon{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
@keyframes toandfro{
	0%{
		transform:rotate(0deg);
	}
	33%{
		transform: rotate(45deg);
	}
	66%{
		transform: rotate(-45deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
.leadtable{
	margin-top:3vh;
}
.leadtable>tbody>tr>td{
	padding:10px 0px;
    /*font-size: 12px*/
}
.leadtable>thead{
    padding:10px 0px;
    font-size: 12px
}
.leadtable>tbody>tr>td:nth-child(11){
	padding:0px;
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 40px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	background: #fff;
	border:1px solid rgba(9, 75, 125, 0.48);
}
.control input:checked ~ .control__indicator {
	background: #094b7d;
}
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 2px;
    left: 5px;
    width: 5px;
    height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}
.control--radio .control__indicator {
	border-radius: 50%;
}
.control--radio .control__indicator:after {
	top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
	border-radius: 50%;
	background: #fff;
}
.leadedit,.leaddelete{
	background: transparent;
    border: 0;
    border-radius: 0;
    color: #094b7d;
    margin-right: 0;
    font-size: 20px;
    float:left;
    outline: none !important;
}
.approvebtn, .disapprovebtn{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #094b7d;
    margin-right: 0;
    font-size: 20px;
    float:left;
    outline: none !important;
}
.approvebtn:hover, .disapprovebtn:hover{
    background: #094b7d;
    color:#fff;
}
.approveselected{
    color: green;
}
.disapproveselected{
    color: red;
}
.leadedit{
	border-right: 1px solid #094b7d;
}
.leadactivate, .thumbs_up_btn{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #094b7d;
    margin-right: 0;
    font-size: 20px;
    float:left;
    outline: none !important;
}
.leadactivate:hover, .leadedit:hover,.leaddelete:hover, .thumbs_up_btn:hover{
	background: #094b7d;
	color:#fff;
}
#addleadModal .order_info_form,#editleadModal .order_info_form{
	display: none;
}
#addleadModal .modal-body .form-group,#editleadModal .modal-body .form-group{
	display: inline-block;
    width: 30%;
    margin: 10px 20px 15px 0;
    vertical-align: top;
}
#addleadModal .form-group label,#editleadModal .form-group label{
	display: block;
	font-weight: 500;
}
#addleadModal .modal-dialog,#editleadModal .modal-dialog{
	width:80%;
}
#addleadModal .box-title,#editleadModal .box-title{
	    font-size: 16px;
    background: rgba(9, 75, 125, 0.14);
    padding: 10px;
    cursor: pointer
}

#lead_specific_equipments_modal .box-title p,#addleadModal .box-title p,#editleadModal .box-title p{
	margin: 0;
}
#addleadModal .box-title span,#editleadModal .box-title span{
	    font-size: 20px;
    color: rgb(68, 94, 115);
    vertical-align: middle;
    margin-right: 10px;
}
#addleadModal .form-group .leadexecutive,#editleadModal .form-group .leadexecutive{
	    font-size: 18px;
    color: #094b7d;
    margin: 0;
}
#addleadModal .modal-body .eqtype,#addleadModal .modal-body .eqmake,#addleadModal .modal-body .eqmodel,#addleadModal .modal-body .eqyear,#editleadModal .modal-body .eqtype,#editleadModal .modal-body .eqmake,#editleadModal .modal-body .eqmodel,#editleadModal .modal-body .eqyear{
	width:22%;
}
.eqtype .dropdown button,.eqmake .dropdown button,.eqmodel .dropdown button,.eqyear .dropdown button{
	width: 70%;
    text-align: left;
}
.eqtype .dropdown button span.caret,.eqmake .dropdown button span.caret,.eqmodel .dropdown button span.caret,.eqyear .dropdown button span.caret{
	    float: right;
    margin-top: 6px;
}
#addleadModal .form-group .control,#editleadModal .form-group .control{
	font-size: 14px;
    display: inline-block;
    padding-left: 20px;
    margin-right: 15px;
    margin-bottom: 0;
}
#addleadModal .form-group .batha_detail,#editleadModal .form-group .batha_detail{
	margin-top: 10px;
}
#addleadModal .modal-footer .submitleadbtn,#editleadModal .modal-footer .submitleadbtn{
	margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
}
#addleadModal .modal-footer .updateleadbtn{
    margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
}
#addleadModal .modal-footer .submitleadbtn:hover,#editleadModal .modal-footer .submitleadbtn:hover{
	background: #094b7d;
	color:#fff;
}
#addleadModal .modal-footer .updateleadbtn:hover{
    background: #094b7d;
    color:#fff;
}
#addleadModal .form-group .dropdown-menu li a:hover,#editleadModal .form-group .dropdown-menu li a:hover{
	cursor:pointer;
	background: #094b7d;
	color:#fff;
}
.leaditem{
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    padding: 0;
    margin: 10px 55px;
}
.leaditem:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}
.leaditem.active{
	box-shadow: 0px 0px 0px 4px #094b7d inset;
}
.leaditem .sec1 .item_serialno{
	display: inline-block;
    margin: 0;
    font-size: 20px;
    padding: 5px 15px;
    border-right: 1px solid #094b7d;
    border-bottom: 1px solid #094b7d;
}
.leaditem .sec1 .item_leadstatus{
	display: inline-block;
    text-align: center;
    margin: 0;
    width: 70%;
    font-size: 18px;
}
.leaditem .sec1 .item_check{
	display: inline-block;
    float: right;
    vertical-align: top;
    height:40px;
}
.leaditem .sec1 .item_check .control{
	font-size: 18px;
    position: relative;
    display: block;
    padding-left: 40px;
    margin: 0;
    cursor: pointer;
}
.leaditem .sec1 .item_check .control__indicator{
	position: absolute;
    top: 0;
    left: 1px;
    width: 39px;
    height: 39px;
    border-left: 1px solid #094b7d;
    border-bottom: 1px solid #094b7d;
    vertical-align: top;
}
.leaditem .sec1 .item_check .control--checkbox .control__indicator:after{
	top: 3px;
    left: 14px;
    width: 10px;
    height: 25px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 4px 4px 0;
}
.leaditem .sec2{
	padding:10px;
}
.leaditem .sec2 .item_name{
	    font-size: 30px;
    margin: 0;
    text-align: center;
    color: #094b7d;
}
.leaditem .sec3{
	padding:0;
}
.leaditem .sec3 .itemsub{
	vertical-align: top;
    padding: 10px;
    word-wrap: break-word;
}
.leaditem .sec3 .itemsub p{
	margin:0;
}
.leaditem .sec3 .itemsub .item_title{
    font-size: 16px;
    font-weight: 500;
}
.leaditem .sec3 .itemsub:nth-child(even){
	text-align: right;
}

/*Lead Info page*/
.orderdetails ,.editlead,.deletelead{
	background: #094b7d;
    color: #fff;
    font-size: 20px;
    float: right;
    margin: 5px;
}
.orderdetails span, .editlead span,.deletelead span{
	color: #fff;
}
.editlead span.editlead_content,.deletelead span.deletelead_content{
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.orderdetails span.orderdetails_content{
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  margin-top: 3px
}
.orderdetails:hover span.orderdetails_content, .editlead:hover span.editlead_content,.deletelead:hover span.deletelead_content{
  max-width: 100px;
}
.orderdetails:hover span.glyphicon, .editlead:hover span.glyphicon,.deletelead:hover span.glyphicon{
	animation: rotateicon 1s ;
}
.leaddetails{
	background: #f9f8f8;
	padding:0;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1)
}
.leadinfo{
	padding: 5px 10px;
}
.leadinfo_name{
	font-size: 24px;
    color: #094b7d;
}
.leadinfo_detail{
    display: inline-block;
    margin: 0 15px 0 0;
}
.leadinfo_detail span:nth-child(1){
	display: block;
    font-weight: 500;
}
.leadinfo_detail span:nth-child(2){
	display: block;	
}
.leadaction{
	padding: 18px 10px;
}
.leadstatus{
	padding:5px 0;
}
.stageitem{
	font-size: 12px;
    padding: 12px 22px;
    display: inline-block;
    margin-right: 2px;
    border: 1px solid rgba(67, 117, 155, 0.48);
    position: relative;
    height: 45px;
    border-left: 0;
    border-right: 0;
    width: auto;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}
.stageitem .circle1{
	width: 45px;
    height: 45px;
    position: absolute;
    background: transparent;
    top: -1px;
    left: -25px;
    border-radius: 50%;
    z-index: 0;
    border-left: 0px solid #094b7d;
}
.stageitem .circle2{
	width: 45px;
    height: 45px;
    position: absolute;
    background: transparent;
    top: -1px;
    right: -18px;
    border-radius: 50%;
    z-index: 0;
    border-right: 1px solid #094b7d;
}
.stageitem .arrow1{
	position: absolute;
    width: 31px;
    height: 31px;
    border-top: 1px solid #094b7d;
    border-right: 1px solid #094b7d;
    top: 0px;
    left: -16px;
    transform: rotate(45deg);
}
.stageitem .arrow2{
	position: absolute;
    width: 32px;
    height: 32px;
    border-top: 1px solid rgba(67, 117, 155, 0.48);
    border-right: 1px solid rgba(67, 117, 155, 0.48);
    top: 5px;
    right: -16px;
    transform: rotate(45deg);
}
.stageitem .barrow1{
	width: 0;
    height: 0;
    border-top: 32px solid rgba(67, 117, 155, 0.48);
    border-left: 32px solid transparent;
    position: absolute;
    top: -0.9px;
    left: -31px;
}
.stageitem .barrow2{
	width: 0;
    height: 0;
    border-bottom: 32px solid rgba(67, 117, 155, 0.48);
    border-left: 32px solid transparent;
    position: absolute;
    bottom: -0.7px;
    left: -31px;
}
.stageitem .barrow1 .inarrow1{
	width: 0;
    height: 0;
    border-top: 30px solid #f9f8f8;
    border-left: 30px solid transparent;
    position: absolute;
    left: -30px;
    top: -31px;
    z-index: 1;
}
.stageitem .barrow2 .inarrow2{
	    width: 0;
    height: 0;
    border-bottom: 30px solid #f9f8f8;
    border-left: 30px solid transparent;
    position: absolute;
    left: -29px;
    top: 1px;
}
.stageitem.active .barrow1{
    border-top: 32px solid #094b7d;
}
.stageitem.active .barrow2{
    border-bottom: 32px solid #094b7d;
}
.stageitem.done .barrow1{
    border-top: 32px solid #009944;
}
.stageitem.done .barrow2{
    border-bottom: 32px solid #009944;
}
.stageitem.selected .barrow1{
    border-top: 32px solid #d01e1a;
}
.stageitem.selected .barrow2{
    border-bottom: 32px solid #d01e1a;
}
.stageitem.active,.stageitem.done{
	color:#fff;

}
.stageitem.done .circle1,.stageitem.done .circle2,.stageitem.done,.stageitem.done .arrow2{
	background:#094;
}
.stageitem.done .arrow1,.stageitem.done .barrow1 .inarrow1{
	border-top-color:#094;
}
.stageitem.done .barrow2 .inarrow2{
	border-bottom-color:#094;

}
.stageitem.active .circle1,.stageitem.active .circle2,.stageitem.active,.stageitem.active .arrow2{
	background: #094b7d;
}
.stageitem.active .arrow1,.stageitem.active .barrow1 .inarrow1{
	border-top-color:#094b7d;
}
.stageitem.active .arrow2,.stageitem.active .barrow2 .inarrow2{
	border-bottom-color:#094b7d;
}
.stageitem.selected,.stageitem.selected .circle1,.stageitem.selected .circle2,.stageitem.selected,.stageitem.selected .arrow2{
	background: #d01e1a;
    color: #fff;
}
.stageitem.selected .arrow1,.stageitem.selected .barrow1 .inarrow1{
	border-top-color:#d01e1a;
}
.stageitem.selected .arrow2,.stageitem.selected .barrow2 .inarrow2{
	border-bottom-color:#d01e1a;
}
.status_info{
	margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}
.status_info p{
	    display: inline-block;
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
}
.status_info .markstatus{
	float: right;
    background: #094b7d;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
}
.progressbar_container{
	padding-left: 25px;
}
.chatcontainer{
	border-right:1px solid #094b7d;
	min-height:75vh;
    
}
.eventscontainer{

	display: none;
    
}
.sendmailcontainer{
    display: none;
    
}
.chat_container>p,.activity_container>p,.equipment_container>p{
	text-align: center;
    font-size: 18px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(9, 75, 125, 0.3);
}
.chat_container .chattab{
	cursor: pointer;
	text-align: center;
    width:33%;
    display: inline-block;
    border-right: 1px solid #C9D7E2;

}
.chat_container .eventstab{
    cursor: pointer;
    text-align: center;
    width:33%;
    display: inline-block;
    border-right: 1px solid #C9D7E2;
   
}
.chat_container .sendmailtab{
    cursor: pointer;
    text-align: center;
    width:33%;
    display: inline-block;
   
}
.chat_container>p span.active{
	background: #094b7d;
	color:#fff;
}
.newchat_container{
	/*min-height: 505px;*/
    padding: 10px;
    border: 1px solid rgba(9, 75, 125, 0.22);
    border-radius: 5px;
}
.newevent_container{
    /*min-height: 570px;*/
    padding: 10px;
    border: 1px solid rgba(9, 75, 125, 0.22);
    border-radius: 5px;
}
.newmail_container{
    /*min-height: 415px;*/
    padding: 10px;
    border: 1px solid rgba(9, 75, 125, 0.22);
    border-radius: 5px;
}
.newchat_container div,.newmail_container div, .newevent_container div{
	margin-bottom: 10px;
}
.newchat_container div p,.newmail_container div p, .newevent_container div p {
	margin-bottom: 5px;
    font-weight: 500;
}
.newchat_container div textarea,.newmail_container div textarea, .newevent_container div textarea{
	resize: vertical;
}
.newchat_container button.newchat_save,.newevent_container button.newevent_save, .newmail_container button.newmail_save{
	float: right;
    margin-top: 8px;
    color: #fff;
    background: #094b7d;
    padding: 8px 40px;
}

.activity_container{
	padding: 10px;
    /*border: 1px solid rgba(9, 75, 125, 0.22);*/
    /*border-radius: 5px;*/
}
.activity_container .activity{
	padding: 0;
    min-height: 100px;
}
.activity_container .activity .act1{
	display: inline-block;
    width: 10%;
    height: 100%;
}
.activity_container .activity .act2{
	display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-bottom: 5px;
    word-wrap: break-word;
}
.activity_container .activity .act3{
	    display: inline-block;
    vertical-align: top;
    float: right;
}
.activity_container .activity .act3 .sender_name{
	text-align: right;
	color:#094;
}
.activity_container .activity .act1 .activity_icon{
	    text-align: center;
    color: #094b7d;
    margin: 0;
}
.activity_container .activity .act1 .activity_icon span.glyphicon{
	font-size: 16px;
}
.activity_container .activity .act1 span.activity_line{
	height: 75%;
    content: '';
    width: 0;
    border: 2px solid #094b7d;
    display: block;
    margin: 0 auto;
}
.activity_container .activity .act2 .activity_subject{
	font-size: 18px;
    color: #094b7d;
}
.activity_container .activity .act2 .activity_comment{
	margin:0;
}
.equipment_container .equipment_filters{
	padding:0;
    padding-top: 10px;
    text-align : center;
}
.equipment_container .equipment_filters>div{
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}
.equipment_filters .eqprice_filter p{
	display: inline-block;
	margin: 0;
}
.equipment_filters .eqfilter_search,.equipment_filters .add_selectedbtn{
	display: ;
    margin: 0px auto;
    color: #fff;
    background: #094b7d;
    padding: 5px 60px;
    font-size: 16px;
    cursor: pointer;
    outline: none !important;
    margin-top: 5px
}
.equipment_filters .add_selectedbtn{
	display: none
}
.equipment_filters .eqlocation_filter{
    padding-right:5px
}
.equipment,.bidequipment{
	width: 30%;
    display: inline-block;
    padding: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    background: rgba(9, 75, 125, 0.05);
    margin: 10px;
    cursor:pointer;
    /*min-width: */
    vertical-align: top;
    
}
.bidequipment{
	margin: 5px;
}
.equipment.active{
	border:4px solid #094b7d;
}
.equipment img,.bidequipment img{
	display: block;
    width: 100%;
}
.equipment .equipment_name{
	font-size: 18px;
    margin: 5px 0 5px;
    color: #094b7d;
    font-weight: 500;
}
.equipment p span:nth-child(1){
	font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.equipment p span:nth-child(2){
	font-size: 16px;
  	display: inline-block;
    vertical-align: top;
    word-wrap: break-word;

}
.equipment{
    vertical-align:top;
    
    min-height: 238px
}
.equipment .equipment_details {
    
    min-height: 220px
    
}
.equipment .equipment_details .supplier_details{
    position: relative; 
    /*bottom: -15px; */
    /*min-width: 230px*/
    
}
.equipment .equipment_details .equip_details{
    min-height: 155px;
    
}
.equipment .equipment_details .equipment_location span, .equipment .equipment_details .supplier_details .supplier_name span{
    display: inline;
    margin-left: -2px
    
    
}
.equipment .equipment_make,.equipment .equipment_model,.equipment .equipment_model,.equipment .equipment_age,.equipment .supplier_name,.equipment .supplier_price,.equipment .equipment_location{
	margin:0;
    
}
.equipment .supplier_name{
	text-align: center;
    background: rgba(9, 75, 125, 0.33);
    /* color: #fff; */
    padding: 0 0px;
}
.equipment .supplier_contact{
	text-align: center;
    background: rgba(9, 75, 125, 0.33);
    /* color: #fff; */
    padding: 0 10px;
    margin: 0;
}
.bidequipment .equipment_name{
	font-size: 12px;
    margin: 5px 0 5px;
    color: #094b7d;
    font-weight: 500;
}
.bidequipment p span:nth-child(1){
	font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.bidequipment p span:nth-child(2){
	font-size: 12px;
  	display: inline-block;
    vertical-align: top;
}
.limit_size{
    width  : 230px;
    height : 170px;
}

.status_tabs {
    list-style-type: none;
    margin-left: auto;
    text-align:center;
    overflow: hidden;
    margin-left: 15%;
    background-color: #fff;

}
.status_tabs li {
    float: left;
    /*margin-right: 30%;*/
    border-right: 1px solid #094b7d ;
    /*border-left: 1px solid #094b7d ;*/
}
.status_tabs li:nth-last-child(1) {
    float: left;
    border-right: none ;
}


.status_tabs li a {
    display: block;
    color: #094b7d;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.status_tabs li a:hover:not(.active) {
    background-color: #fff;
    border-bottom: 2px solid #094b7d;
    /*margin-bottom: 2px*/
}

.status_tabs li a.active {
    color: white;
    background-color: #094b7d;
    /*border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
}

.addcampaign{
    background: #094b7d;
    color: #fff;
    font-size: 20px;
    float: right;
}
.addcampaign span{
    color: #fff;
}
.addcampaign span.addcampaign_content {
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.addcampaign:hover span.addcampaign_content {
  max-width: 150px;
}
.addcampaign:hover span.glyphicon{
   
    animation: rotateicon 2s ;
}
.addcampaign span.glyphicon{
    padding-left: 5px;
    
}
.modal-content .submitcampaignbtn{
    margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
}

.modal-footer .submitcampaignbtn:hover{
    background: #094b7d;
    color:#fff;
}

.modal-footer .submitcampaignbtn{
    margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
}

.modal-content .submitcampaignbtn:hover{
    background: #094b7d;
    color:#fff;
}

 .modal-content .modal-body .renter_info .box-title p{
    font-size: 16px;
    /*background: rgba(9, 75, 125, 0.14);*/
    padding: 10px;
    cursor: pointer
    margin-bottom:5px;
    vertical-align: center;
}
.modal-content .modal-header {
    background: #094b7d;
    
}
.modal-content .modal-header .modal-title {
    
    color: #ffffff;
}
.leadfulldetailscontainer, .orderdetailscontainer{
    display: none;
}
.leaddetails .leadinfo .fulldetails{
    /*float: right;*/
    background: #094b7d;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 5px
}

.order_detail{
    display: inline-block;
    margin: 5px 15px 0 0px;
       
}
.order_detail span:nth-child(1){
    display: block;
    font-weight: 500;
}
.order_detail span:nth-child(2){
    display: block; 
}

.pricetag .box-title{
    background: rgba(9, 75, 125, 0.14);
    padding: 10px;

}

.newchat_comment {
    background: #efb8b8
}
.newevent_comment {
    background: #b8cdef
}
.newmail_comment {
    background: #b8efbb
}
.sendmailfileupload{
    /*height: 25px*/

}
