@font-face{
	font-family:'equip-logo';
	src:url(../fonts/equip_logo.ttf);
}
body{
    margin-bottom: 60px;
}
/*Login Page*/
/*logo*/
.logo{
	text-align: center;
    margin: 50px auto 0;
    padding: 15px;
}
.logo > img{
	height: 70px;
}
.login-form,.reg-form {
    padding: 10px;
    border: 3px solid #2c3840;
}
.login-form > h3,.reg-form > h3 {
  text-align: center;
  margin-top: 10px;
}
.form-input,.form-input-button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-input-button{
  color: #fff;
  background: #147dc2;
}

button.register,button.back {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.register:hover,button.back:hover {
    opacity: 0.8;
}

.content {
    padding: 16px;
}
.copyrights{
    text-align: center;
    margin: 30px auto;
}
/*Navigation Bar*/
.navbar-inverse {
    background-color: #2c3840;
    border-color: #080808;
}
@media (min-width: 768px){
	.navbar {
	    border-radius: 0px;
	}	
}
.navbar-inverse .equip-logo{
	color: #f5f5f5;
	font-family: equip-logo;
	font-size: 16px;
    font-weight: normal;
    opacity: 0.75;
    transition: all .25s ease-in-out;
}
.edit{
    display: none;
}
.img-logo{
    margin-top:-15px;
    float: left;
    height: 50px;
    margin-right: 10px;
}
.equip-logo > strong{
	font-family: sans-serif;
}
.navbar-inverse .equip-logo:hover {
    color: #fff;
    opacity: 1;
}
.navbar-inverse .navbar-nav>.active>a{
    color: #fff;
    background: #147dc2;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.nav>li {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #147dc2;
}
.heading{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
footer .navbar {
    margin-bottom: 0px;
}
.mr-5{
    margin-right: 5px;
}
.details-align{
    padding-top: 7px;
}