body{
	font-family:'Ubuntu', sans-serif;
}


.dashboard_table{
	margin-top:3vh;
}
.dashboard_table>tbody>tr>td{
	padding:10px 0px;
    /*font-size: 12px*/
}
.dashboard_table>thead{
    padding:10px 0px;
    font-size: 12px
}
.dashboard_table>tbody>tr>td:nth-child(11){
	padding:0px;
}
.profile_container{
	margin: 5px 0px;
	margin-top: 30px;
}
.middle_container{
	margin: 5px 0px;
}
.table_container{
	margin: 0px 0px;
	align-content: center;
}
.user_edit, .user_delete{
	background: transparent;
    border: 0;
    border-radius: 0;
    color: #094b7d;
    margin-right: 0;
    font-size: 20px;
    float:left;
 }
.middle_container p{
	font-size: 20px;
	font-weight: 500;
}
.user_edit{
	border-right: 1px solid #094b7d;
}

.user_edit:hover,.user_delete:hover{
	background: #094b7d;
	color:#fff;
}
.profile_header{
	background-color: #094b7d ;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.profile_header p{
	font-size: 20px;
	color: white;
	margin-top: 5px;
}
.profile_body, .add_profile_body{
	background-color: #f9f8f8;
	border :1px solid #094b7d;
}
.profile_body p{
	font-size: 15px;
	margin: 10px;
}
.edit_profile_btn{
	margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
    margin: 10px 0px;
}
.edit_profile_btn:hover{
	background: #094b7d;
	color:#fff;

}
.add_user_btn{
	margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
    float:right;

}
.add_user_btn_container{
	padding-right: 0px;
}
.middle_container p{
	margin-top: 10px;
}
.add_user_btn:hover{
	background: #094b7d;
	color:#fff;

}
.add_profile_body input{
	margin-top: 10px ;
	margin-left: 20px;
	width:85%;
}
.add_profile_body p{
	margin-top: 10px ;
	size: 15px;
	font-weight: 600;
	margin-bottom: -5px;
	margin-left: 10px;
}
.create_btn{
	margin: 0 auto;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #094b7d;
    border: 1px solid #094b7d;
    padding: 10px 30px;
    outline: none !important;
    margin-top: 10px;
    width:85%;
}
.create_btn:hover{
	background: #094b7d;
	color:#fff;

}
.inner_container_modal{
	/*border: 2px solid black;*/
	margin: 10px 0px;
	align-content: center;
	padding: 10px 5px;
}
.profile_body p{
	font-weight: 500;
	margin-left: -1px;
}
.topbar_container{
	    padding: 5px 15px;
    background: #094b7d;
    color: #fff;
}
.topbar_logo_container .logo{
	width: 200px;
    filter: invert(1);
    /*margin-top: 5px*/
}
.topbar_title p{
	font-size: 26px;
    margin-top: 10px;
    
}
.topbar_buttons{
	padding: 0px;
    height: 60px;
    position:relative;
    margin-top: 10px
}
.topbar_buttons .btn{
	background: #fff;
	color:#094b7d;
	outline: none !important;
	float:right;
	margin-right: 10px;
}
.topbar_buttons .topbar_settings_btn:hover span{
	animation:rotateicon 2s;
}
.topbar_buttons .topbar_notifications_btn:hover span{
	animation:toandfro 1s linear;
}
.topbar_buttons .btn span.glyphicon{
	font-size: 20px;
}
.topbar_buttons .btn.topbar_profile_btn img{
	width:24px;
}
.topbar_buttons .btn.bi_btn{
    width : 134px;
    height: 39px;

}
.button_profile_container, .button_settings_container{
	position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 15px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_settings_container{
    position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 130px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_notifications_container{
    position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 80px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.button_profile_container .arrow{
	width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_settings_container .arrow{
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_notifications_container .arrow{
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -15px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}
.button_profile_container div, .button_settings_container div, .button_notifications_container div{
	display: inline-block;
	vertical-align: top;
	float: right;
}
.button_profile_container img, .button_settings_container img, .button_notifications_container img{
	width:50px;
}
.button_profile_container div.profile_info, .button_settings_container div.profile_info, .button_notifications_container div.profile_info{
	/*margin-left: 15px;*/
    width: auto;
    float: none;
}
.button_profile_container .profile_name, .button_settings_container .profile_name, .button_notifications_container .profile_name{
	color: #094b7d;
    font-size: 24px;
    margin: 0;
}
.button_profile_container .profile_info a, .button_settings_container .profile_info a, .button_notifications_container .profile_info a{
	    display: inline-block;
    margin-right: 6%;
}
.content{
	margin:0;
	padding:0;
}