<div id="editleadModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Edit Lead</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="renter_info">
	      		<div class="box-title">
	      			<p>Renter Information</p>
	      		</div>
	      		<div class="renter_info_form">
	      			<div class="form-group">
						<label for="e_rentername">Renter Name</label>
						<input type="text" class="form-control" id="e_rentername" placeholder="Renter Name" value="Balaji Coustubh">
					</div>
					<div class="form-group">
						<label for="usagepermonth"> Operation hours per month</label>
						<input type="text" class="form-control" id="durationofwork" value="600" placeholder="">
					</div>
					<div class="form-group">
						<label for="e_leaddate">Lead Date</label>
						<div class='input-group date' id='e_leaddatepicker'>
		                    <input type='text' class="form-control" id="e_leaddate" placeholder="Lead Date" value="05/01/2017 4:49 PM"/>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
					</div>
					<div class="form-group">
						<label>Lead Executive</label>
						<p class="leadexecutive" id="e_leadexecutive">Darvik Yadav</p>
					</div>
					<div class="form-group" style="width: 20%">
						<label for="e_leadpriority">Lead Priority</label>
						<div class="dropdown e_leadpriority">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Hot
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>None</a></li>
						    <li><a>Hot</a></li>
						    <li><a>Cold</a></li>
						    <li><a>Medium</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group" style="width: 20%">
						<label for="e_leadpriority">Lead Source</label>
						<div class="dropdown e_leadsource">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Source1
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>None</a></li>
						    <li><a>Source1</a></li>
						    <li><a>Source2</a></li>
						    <li><a>Source3</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group" style="width: 20%">
						<label for="e_worktype">Type of Work / Lead Type</label>
						<div class="dropdown e_worktype">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Drilling
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						  	<li><a>None</a></li>
						    <li><a>Earth work</a></li>
						    <li><a>Road Construction</a></li>
						    <li><a>Drilling</a></li>
						  </ul>
						</div>
					</div>
	      		</div>
	      	</div>
	      	<div class="order_info">
	      		<div class="box-title">
	      			<p><span class="glyphicon glyphicon-plus-sign"></span> Order Information</p>
	      		</div>
	      		<div>
	      			<table>
	      				
	      			</table>
	      		</div>
	      		<div class="order_info_form">
	      			<div class="form-group eqtype">
						<label for="e_equipmenttype">Equipment Type</label>
						<div class="dropdown e_equipmenttype">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bachkhoe Loader
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>Transport</a></li>
						    <li><a>Excavator</a></li>
						    <li><a>Crane</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group eqmake">
						<label for="e_equipmentmake">Make</label>
						<div class="dropdown e_equipmentmake">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">JCB
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>JCB</a></li>
						    <li><a>L&T Komatsu</a></li>
						    <li><a>Escort</a></li>
						    <li><a>Indopower</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group eqmodel">
						<label for="e_equipmentmodel">Model</label>
						<div class="dropdown e_equipmentmodel">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">12 Ton
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>12 Ton</a></li>
						    <li><a>14 Ton</a></li>
						    <li><a>3DX</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group eqyear">
						<label for="e_equipmentyear">Year</label>
						<div class="dropdown e_equipmentyear">
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">2000
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a>2000</a></li>
						    <li><a>2001</a></li>
						    <li><a>2002</a></li>
						    <li><a>2003</a></li>
						    <li><a>2004</a></li>
						    <li><a>2005</a></li>
						  </ul>
						</div>
					</div>
					<div class="form-group">
						<label for="e_capacity">Capacity</label>
						<input type="text" class="form-control" id="e_capacity" value="10">
					</div>
					<div class="form-group">
						<label for="e_joblocation">Job Location</label>
						<input type="text" class="form-control" id="e_joblocation" value="Balaji Empire, Patrika Nagar">
					</div>
					<div class="form-group pull-right">
						<label for="e_shifttype">Shift Type</label>
						<label class="control control--checkbox">Day
							<input type="checkbox" name="shifttype" value="day" checked/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">Night
							<input type="checkbox" name="shifttype" value="night"/>
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="form-group">
						<label for="e_knownarea">District / Known Area</label>
						<input type="text" class="form-control" id="e_knownarea" value="Hitech City">
					</div>
					
					<div class="form-group">
						<label for="e_startdate">Expected Start Date</label>
						<div class='input-group date' id='e_startdatepicker'>
		                    <input type='text' class="form-control" id="e_startdate" placeholder="Expected Start Date" value="05/15/2017 4:49 PM"/>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
					</div>
					<div class="form-group pull-right">
						<label for="e_accomodation">Accomodation</label>
						<label class="control control--radio">Yes
							<input type="radio" name="accomodation" checked/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">No
							<input type="radio" name="accomodation"/>
							<div class="control__indicator"></div>
						</label>
					</div>
					
					<div class="form-group">
						<label for="e_projectstage">Project Stage</label>
						<input type="text" class="form-control" id="e_projectstage" value="Payment">
					</div>
					<div class="form-group">
						<label for="e_hoursperday">Operation hours per day</label>
						<input type="text" class="form-control" id="e_hoursperday" value="10">
					</div>
					
					<div class="form-group pull-right">
						<label for="e_food">Food</label>
						<label class="control control--radio">Yes
							<input type="radio" name="food" checked="checked" />
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">No
							<input type="radio" name="food"/>
							<div class="control__indicator"></div>
						</label>
					</div>
					
					<div class="form-group">
						<label for="e_daypermonth">Operation days per month</label>
						<input type="text" class="form-control" id="e_daypermonth" value="20">
					</div>
					<div class="form-group">
						<label for="e_quantity">Quantity</label>
						<input type="text" class="form-control" id="e_hoursperday" value="10">
					</div>
					<div class="form-group operatorallowancecheck pull-right">
						<label for="e_opallowance">Operator Allowance</label>
						<label class="control control--radio">Yes
							<input type="radio" name="operatorallowance" value="yes"/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">No
							<input type="radio" name="operatorallowance" value="no" checked/>
							<div class="control__indicator"></div>
						</label>

						<div class="batha_detail">
							<!-- <label for="batha">Batha</label> -->
							<input type="text" class="form-control" placeholder="Enter Batha" id="batha">
						</div>
					</div>
					
					<div class="form-group">
						<label for="e_vehicledocuments">Vehicle Documents</label>
						<label class="control control--radio">Yes
							<input type="radio" name="accomodation" checked/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">No
							<input type="radio" name="accomodation"/>
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="form-group">
						<label for="e_operatorlicense">Operator License</label>
						<label class="control control--radio">Yes
							<input type="radio" name="accomodation" checked/>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--radio">No
							<input type="radio" name="accomodation"/>
							<div class="control__indicator"></div>
						</label>
					</div>
	      		</div>
	      	</div>
	      </div>

	      <div class="modal-footer">
	        <button class="btn submitleadbtn_edit">Submit Lead</button>
	      </div>
	    </div> 

	  </div>
	</div>